{{#each errors}}

    <div class="alert alert-danger">{{text}}</div>

    {{else}}

{{/each}}

<h3>Editar Categoria</h3>
<div class="card bg-light border-dark mt-4">
    <div class="card-body">
        <form action="/admin/category/edit" method="POST">
        <input type="hidden" name="id" value="{{category._id}}">
            <label for="name">Nome: </label>
                <input type="text" id="name" name="name" placeholder="Nome da categoria" class="form-control" value="{{category.name}}">
            <label for="slug">Slug: </label>
                <input type="text" id="slug" name="slug" placeholder="Slug da categoria" class="form-control" value="{{category.slug}}">
                <br>
            <button type="submit" class="btn btn-outline-success">Editar Categoria</button>
        </form>
    </div>
</div>