<style>

.center {

  width: 25%;
  padding: 10px;
}

</style>

{{#each errors}}

    <div class="alert alert-danger">{{text}}</div>

    {{else}}

{{/each}}
<div class="jumbotron">
  <h1 class="display-4">De Blogueiro para Blogueiro!</h1>
  <p class="lead">Ei... Você mesmo leitor desesperado, que busca amplo conhecimento.
                 Aqui você encontrará as mais diversas publicações, temos o conteúdo certo para você!</p>
  <hr class="my-4">
  <p>É blogueiro também? Crie agora mesmo sua conta e entre agora mesmo para nossa comunidade.</p>
    {{#if user}}

        {{else}}
            
            <a class="btn btn-outline-primary btn-lg center" href="/user/register" role="button">Criar Conta</a>
     
    {{/if}}
</div>

<hr>
<h2>Postagens Recentes</h2>


{{#each post}}
    <div class="card bg-light border-dark mt-4">
        <div class="card-body">
            <h5>{{title}}</h5>
            <p>{{description}}</p>
            <a href="/post/{{slug}}"><button class="btn btn-outline-info" type="submit">Leia mais...</button></a>
            <hr>
            <small><b>{{category.name}} </b></small>
            <small>Data de publicaçao: {{creationDate}}</small>
        </div>
    </div>

    {{else}}

    <h6  style="color: rgba(0,0,0,.65)" class="mt-4" >Nenhuma postagem registrada</h6>

{{/each}}
<br>