{{#each errors}}

    <div class="alert alert-danger">{{text}}</div>

    {{else}}

{{/each}}
<h4>Categorias</h4>
{{#each category}}
<br>
    
    <div class="card bg-light border-dark mt-4">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <a href="/category/{{slug}}"><button type="button" class="btn btn-outline-info">Visualizar</button></a>
        </div>
    </div>

    {{else}}

    <h6  style="color: rgba(0,0,0,.65)" class="mt-4" >Nenhuma categoria registrada</h6>

{{/each}}
<br>