{{#each errors}}

    <div class="alert alert-danger">{{text}}</div>

    {{else}}
{{/each}}
    <h3>Nova Conta</h3>
    <div class="card bg-light border-dark mt-4">
        <div class="card-body">
            <form action="" method="POST">
                <label for="name" class="mb-0">Nome: </label>
                    <input type="text" id="name" name="name" placeholder="Nome do usuário" class="form-control" >
                <label for="email" class="mt-3 mb-0">Email: </label>
                    <input type="text" id="email" name="email" placeholder="Email" class="form-control" >
                <label for="password" class="mt-3 mb-0">Senha: </label>
                    <input type="password" id="password" name="password" placeholder="Senha" class="form-control" >
                <label for="password_2" class="mt-3 mb-0">Repita a senha: </label>
                    <input type="password" id="password_2" name="password_2" placeholder="Repita a senha" class="form-control" >
                <label for="category mt-2" >Você é ?:</label>
                <select name="typeuser" class="form-control">
                    {{#each typeuser}}
                        {{#if active}}
                            <option value="{{_id}}">
                                {{name}}
                            </option>
                        {{/if}}
                        {{else}}
                            <option value="0">Nenhum tipo registrado</option>
                    {{/each}}
                </select>
                      <br>
                <button type="submit" class="btn btn-outline-success">Criar conta</button>
            </form>
        </div>
    </div>

