{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
    {{else}}
{{/each}}

<h2> Lista de tipo des de usuários:</h2>
<hr>
<a href="/user/typeuser/add"><button class="btn btn-outline-success">Novo tipo</button></a>


{{#each typeuser}}
    <div class="card bg-light border-dark mt-4">
        <div class="card-body">
            <h4> {{name}} </h4>
            <small>Slug: {{slug}} </small><br>
            <small>Status: {{active}} </small><br>
            </form>
        </div>
    </div>
    {{else}}

    <h6  style="color: rgba(0,0,0,.65)" class="mt-4" >Nenhum tipo registrado</h6>

{{/each}}