{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
    {{else}}
{{/each}}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript">

    function limpa_formulário_cep() {

        document.getElementById('street').value=("");
        document.getElementById('district').value=("");
        document.getElementById('city').value=("");
        document.getElementById('state').value=("");

    }

    function meu_callback(conteudo) {

        if (!("erro" in conteudo) ) {

            document.getElementById('street').value=(conteudo.logradouro);
            document.getElementById('district').value=(conteudo.bairro);
            document.getElementById('city').value=(conteudo.localidade);
            document.getElementById('state').value=(conteudo.uf);
            $("#number").focus();

        } else {

            limpa_formulário_cep();
            alert("CEP não encontrado.");
            
        }
    }

    function pesquisacep(valor) {

        var cep = valor.replace(/\D/g, '');

        if (cep != "") {

            var validacep = /^[0-9]{8}$/;

            if(validacep.test(cep)) {

                document.getElementById('street').value="...";
                document.getElementById('district').value="...";
                document.getElementById('city').value="...";
                document.getElementById('state').value="...";

                var script = document.createElement('script');

                script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

                document.body.appendChild(script);

            } else {
       
                limpa_formulário_cep();
                alert("Formato de CEP inválido.");
            }
        } else {

            limpa_formulário_cep();
        
        }

    };

</script>

<h2>Adicionar Endereço {{client.name}}:</h2>
<hr>
<form action="/admin/client/address/add" method="POST">
    <div class="card bg-light border-dark mt-4">
        <div class="card-body">
            <input type="hidden" name="id" value="{{client._id}}">
            <div class="justify-content-center">
                <div class="row justify-content-center">
                    <label for="cep" class="mt-4 col-md-6"><strong>Cep</strong>:  
                        <input name="cep" class="form-control" type="text" id="cep" value="" size="10" maxlength="9" onblur="pesquisacep(this.value);">
                    </label>
                </div>
                <div class="row justify-content-center">
                <label for="street" class="mt-2 col-md-6"><strong>Rua</strong>: 
                    <input type="text" id="street" name="street" value="" placeholder="Rua" class="form-control" required>
                </label>

                <label for="district" class="mt-2 col-md-6"<strong><strong>Bairro</strong>: 
                    <input type="text" id="district" name="district" value="" placeholder="Bairro" class="form-control" required>
                </label>

                <label for="number" class="mt-2 col-md-6"><strong>Número</strong>: 
                    <input type="text" id="number" name="number" value="" placeholder="Número" class="form-control" required>
                </label>

                <label for="complement" class="mt-2 col-md-6"><strong>Complemento</strong>: 
                    <input type="text" id="complement" name="complement" value="" placeholder="Complemento" class="form-control">
                </label>

                <label for="city" class="mt-2 col-md-6"><strong>Cidade</strong>: 
                    <input type="text" id="city" name="city" value="" placeholder="Cidade" class="form-control" required>
                </label>

                <label for="state" class="mt-2 col-md-6"><strong>Estado</strong>:
                    <input type="text" id="state" name="state" value="" placeholder="Estado" class="form-control" required>
                </label>
                <br>
                </div>
                <a href="/admin/client/address"><button class="btn btn-outline-info mt-4">Verificar Localidade</button></a>
                <div class=" mt-4 card-block " id="geometry">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item mr-3 w-50"><strong>Latitude</strong>: {{clientaddress.latitude}}</li>
                        <li class="list-group-item ml-3 w-50"><strong>Longitude</strong>: {{clientaddress.longidute}}</li>
                    </ul>
                </div>
                <button type="submit" class="btn btn-outline-success mb-4 mt-4">Adicionar Endereço</button>
            </div>
        </div>
    </div>
</form>
<br>
<br>